<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedeSocial.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @if (this.User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Rede Social</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="PostagemApi">Posts</a>
                        </li>
                    </ul>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Logout" />
                    </form>
                    <div class="navbar-text">
                        <img class="img-profile rounded-circle" style="max-width:26px" src="https://redesocialverde.blob.core.windows.net/imagens/@(this.User.Claims.First(x => x.Type == System.Security.Claims.ClaimTypes.Name).Value)fotoperfil.jpg?size=30x30&bgset=bg1">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@this.User.Identity.Name.ToLower()</span>
                        <a asp-controller="AccountApi" asp-action="Edit" asp-route-id="@(this.User.Claims.First(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value)">Editar Perfil</a>
                    </div>
                </div>
            </nav>
        </header>
    }
    

    <div class="container">
        <main role="main" class="pb-3">
            <!-- AQUI VAI SER RENDERIZADO O HTML DAS VIEWS-->
            @RenderBody()
        </main>
    </div>

    @RenderSection("PreFooter", false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
